:root {
    --color-primary: #f9f9f9;
    --color-secondary: #080808;
    --color-tertiary: #36373a;
    --color-quartary: #caccd4;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #36373a;
        --color-secondary: #f9f9f9;
        --color-tertiary: #080808;
        --color-quartary: #caccd4;
    }
    .sent {
        word-wrap: break-word;
        display: block;
        height: auto;
        background-color: var(--color-secondary);
        color: var(--color-tertiary);
        padding: 10px;
        border-radius: 15px;
        max-width: 70%;
        align-self: flex-end;
    }
    
    .received {
        word-wrap: break-word;
        display: block;
        height: auto;
        background-color: var(--color-tertiary);
        color: var(--color-secondary);
        padding: 10px;
        border-radius: 15px;
        max-width: 70%;
        align-self: flex-start;
    }
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    height: 50px;
}

button:hover {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
}

#title:hover {
    cursor: pointer;
}

.chatContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#conversation {
    flex-grow: 1;  /* Take remaining space above input */
    max-height: calc(100vh - 80px); /* Adjust based on input height */
    overflow-y: auto; /* Allow scrolling if messages exceed space */
    gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#input-bar {
    flex-grow: 1;
    display: flex;
    position: fixed;
    bottom: 1rem;
    width: 95%;
}

#input-bar textarea {
    overflow: hidden;
    resize: vertical;
    word-wrap: break-word;
    display: block;
    height: auto;

    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-right: 0.5rem;
}

#input-bar button {
    background-color: var(--color-tertiary);
    font-size: large;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.sent {
    word-wrap: break-word;
    font-size: 1.5em;
    display: block;
    height: auto;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    align-self: flex-end;
}

.received {
    word-wrap: break-word;
    font-size: 1.5em;
    display: block;
    height: auto;
    background-color: var(--color-quartary);
    color: var(--color-tertiary);
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    align-self: flex-start;
}


.loader {
    width: 1rem;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}