:root {
    --color-primary: #f9f9f9;
    --color-secondary: #080808;
    --color-tertiary: #36373a;
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #36373a;
        --color-secondary: #f9f9f9;
        --color-tertiary: #080808;
    }
}

button {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
}

#title:hover {
    cursor: pointer;
}

.conversation {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 100%;
    overflow-y: auto;
}

#input-bar {
    display: flex;
    position: fixed;
    bottom: 1rem;
    width: 95%;
}

#input-bar input {
    overflow: hidden;
    white-space: nowrap;

    word-wrap: break-word;
    display: block;
    height: auto;

    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-right: 0.5rem;
}

#input-bar button {
    background-color: var(--color-tertiary);
    font-size: large;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#conversation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.25rem;
}

.sent {
    word-wrap: break-word;
    display: block;
    height: auto;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    align-self: flex-end;
}

.received {
    word-wrap: break-word;
    display: block;
    height: auto;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    align-self: flex-start;
}